* {
    padding:0;
    margin:0;
}
header {
    background-color:rgba(35,28,26,0.8);
    height: 80px;
    width:100%;
    position:fixed;    
}
h1 {
    font-family: "STXingkai", "华文行楷", "KaiTi", cursive;
    color:rgba(250, 235, 215, 0.452);
    position:absolute;
    left:0;
    top: 0;
    line-height: 80px;
   /* background-image:url(images/wukong3.jpg) ;
    background-repeat: no-repeat;
    background-position:left;
    width: 100%;
    text-indent: -9999px; */
}
header ul {
    font-family: "KaiTi", "STKaiTi", "华文楷体", serif;
    position:absolute;
    right:5vw;
    top:0;
    line-height:80px;
}
header li {
    display:inline;
    margin-right:4vw;    
}
header a {
    color:white;
    text-decoration: none;
}
header a:hover {
    text-decoration: underline;
}
.news {
   font-family: "KaiTi", "STKaiTi", "华文楷体", serif;

    background-color: antiquewhite;
    color:white;
    height:95vh;
    background-image: url("images/tianming.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;

    image-rendering: -webkit-optimize-contrast; /* Safari/Chrome 老版本 */
  image-rendering: crisp-edges;               /* 保持边缘锐利，不模糊 */
  image-rendering: optimizeQuality;           /* 高质量模式，Firefox/Edge */
 
 max-width: 100%;                            /* 让图片自适应容器，不溢出 */

    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
} 
.news h2 {
   font-family: "STXingkai", "华文行楷", "KaiTi", cursive;
     color:#FEF7E6;
    font-size:65px;
    margin-top:10px;
} 
.news p {
    color:#FEF7E6;
    font-size:18px;
    margin:25px 0;
}
.news a {
    color:white;
    text-decoration: none;
    border: 1px solid #ACACAC;
    padding:10px 20px;
    border-radius: 5px;
}
.slogan {
    font-family: "KaiTi", "STKaiTi", "华文楷体", serif;
    background-color:#485652;
    color:white;
    height:150px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;  
}


.shop {
    display:flex;
}
.shop img {
    width:50%;
}
.info {

    width:50%;
    background-color: #FEF7E6;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.info h2 {
    font-family: "STXingkai", "华文行楷", "KaiTi", cursive;
    font-size:40px;
    margin-bottom: 20px;
    color:rgba(57, 20, 20, 0.823);
}
.info p {
    font-family: "KaiTi", "STKaiTi", "华文楷体", serif;
    text-align: center;
    line-height: 1.5em;
}

.shop1 {
    display:flex;
}
.info1 {
    width:50%;
    background-color: #FEF7E6;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
.info1 h2 {
    font-family: "STXingkai", "华文行楷", "KaiTi", cursive;
    font-size:40px;
    margin-bottom: 20px;
    color:rgba(57, 20, 20, 0.823);
}
.info1 p {
    font-family: "KaiTi", "STKaiTi", "华文楷体", serif;
    text-align: center;
    line-height: 2em;
}
.shop1 img {
    width:50%;
}


.product {
    width: 100%;           /* 宽度占满父容器（一般就是屏幕） */
    height: 100vh;         /* 你想要的高度，比如 600px、80vh、100vh 都可以 */
    background: url('images/jingu.png') center/cover no-repeat;
    background-size: cover;      /* 关键！自动铺满+裁掉多余部分 */
    background-position: center; /* 关键！自动居中显示最精彩的部分 */
    background-repeat: no-repeat; /* 不重复平铺 */

   image-rendering: -webkit-optimize-contrast; /* Safari/Chrome 老版本 */
  image-rendering: crisp-edges;               /* 保持边缘锐利，不模糊 */
  image-rendering: optimizeQuality;           /* 高质量模式，Firefox/Edge */
 
 max-width: 100%;                            /* 让图片自适应容器，不溢出 */
}
.product p{
     font-family: "STXingkai", "华文行楷", "KaiTi", cursive;
    
    color:rgba(184, 177, 177, 0.907);
    height: 1200px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 1.8em;  
}
.newsletter {
    background-color:#485652;
    color:white;
    padding:60px 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.newsletter p {
    margin-bottom: 15px;
    font-family: "STXingkai", "华文行楷", "KaiTi", cursive;
    font-size: 1.5rem;
}

footer {
    background-color:#000000;
    color:#B7B7B7;
    height:60px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}
.menu {
    display:none;
}

/* 響應式設計語法 */
@media screen and (max-width: 768px) {
header ul {
    display:none;
}
header h1 {
    left:50%;
    transform: translateX(-50%);
}
.news h2 {
    font-size:40px;
}
.menu {
    display:block;
    background-color: transparent;
    color:white;
    font-size: 35px;
    position:absolute;
    top:15px;
    left:20px;
    border:none;
    cursor: pointer;
}
.shop {
    flex-direction: column;
}
.shop img {
    width:100%;
}
.info {
    width:100%;
    padding:40px 0;
}
.info h2 {
    font-size:30px;
}
.product {
    flex-direction: column;
    padding: 60px 0;
}
.product div {
    margin-bottom: 30px;
}
}

audio {
    display: none; /* 完全隐藏，但音乐仍播放 */
    background-color: #000000;
}

script{
    background-color: #000000;
}